.App-header {
  background-color: #282c34;
  min-height: 70px;
  width: 100vw;
  font-size: calc(5px + 2vmin);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-start; */
}

.App-link {
  color: #09d3ac;
}

.Version {
  font-size: calc(1px + 1vmin);
}

.Title {
  /* set position for parent felxbox */
  align-self: center;
  /* flex-basis: auto; */
  /* set its own flex box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu {
  /* set position for parent felxbox */
  align-self: center;
}

/* .Content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
} */

